asttokens
certifi
charset-normalizer
decorator
executing
idna
ipython
ipython-pygments-lexers
jedi
jinja2
jsonpickle
markupsafe
matplotlib-inline
networkx
numpy
pandas
parso
pexpect
prompt-toolkit
ptyprocess
pure-eval
pygments
python-dateutil
python-louvain
pytz
pyyaml>=6.0
pyvis
pyvis-network
requests
six
stack-data
tomli
traitlets
tzdata
urllib3
wcwidth
